- provide(:title, @user.name )
- flash.each do |key, value|
  .alert{ class: "alert-#{ key }" }
    = value

%h1 Works that #{ @user.name } loves

- if @artobjects
  .row
    %ol.tile-container#artobject_container
      = render @artobjects


= javascript_tag do
  $(".favorite_box").bind('change', function(){
  if (this.checked) {
  $.ajax({
  url: '/favorites/',
  type: 'POST',
  data: {"artobject": this.id, "user": #{current_user.id} }
  });
  } else {
  $.ajax({
  url: '/favorites/' + this.id,
  type: 'DELETE',
  data: {"artobject": this.id, "user": #{current_user.id} }
  });
  }
  });