- provide(:title, @user.name)
- flash.each do |key, value|
  .alert{ class: "alert-#{ key }" }
    = value

.container
  %h1= @user.name

  .row
    %aside.span6
      %section.show-form
        .image-container
          =image_tag @user.image_url(:index).to_s, class: "artobject_image"

        %h2 Contributor since #{ @user.created_at.strftime("%B %Y") }

        %ul
          %li= link_to "Favorite works", artobjects_user_path(@user)

    .span6

      .tag-boxes
        %h2 #{@user.name}'s interests