- provide(:title, @user.name)

.row
  %aside.span4
    %section
      %h1
        = gravatar_for @user
        = @user.name

  .span8
    - if @user.artobjects.any?
      %h3 Art objects (#{ @user.artobjects.count })
      %ol.artobjects
        = render @artobjects

      = will_paginate @artobjects