= form_for(@artobject)  do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.text_field :name, placeholder: "Name the art object"
  .field
    = f.text_field :minyear, value: @artobject.minyear ? @artobject.minyear.abs : nil, placeholder: "Minimum date"
    .checkbox
      %label
        = check_box_tag :min_bce, @artobject.minyear && @artobject.minyear<0, @artobject.minyear && @artobject.minyear<0
        BCE
    = f.text_field :maxyear, value: @artobject.maxyear ? @artobject.maxyear.abs : nil, placeholder: "Maximum date"
    .checkbox
      %label
        = check_box_tag :max_bce, @artobject.maxyear && @artobject.maxyear<0, @artobject.maxyear && @artobject.maxyear<0
        BCE
  .field
    = f.text_field :creator_list, placeholder: "Creators"
    = f.text_field :language_list, placeholder: "Languages"
    = f.text_field :location_list, placeholder: "Locations"
    = f.text_field :society_list, placeholder: "Society, Culture, and Politics"
    = f.text_field :medium_list, placeholder: "Media"
    .fileinput.fileinput-exists{ :data => {:provides => "fileinput"} }
      .fileinput-preview.thumbnail{ style: "width: 200px; height: 200px;", :data => {:trigger => "fileinput"} }
        -if @artobject.image_url != "default.png"
          =image_tag @artobject.image_url(:index).to_s
      %div
        %span.btn.btn-default.btn-file
          %span.fileinput-new Select image
          %span.fileinput-exists Change
          =f.file_field :image
        %a.btn.btn-default.fileinput-exists{ href:"#", :data => {:dismiss => "fileinput"} } Remove
  = f.submit "Go", class: "btn btn-large btn-primary"