
%li.span6
  .artobject.flip 
    .card 
      .face.front
        .text-container
          .top-text-container
            - if signed_in?
              .make_favorite

                = check_box_tag "favorite", :favorite, Favorite.where(user_id:current_user.id, artobject_id:artobject.id).exists?, id: "#{artobject.id}", class: "favorite_box vis-hidden"
                %label{for: "#{artobject.id}"}
                  %i.fa.fa-heart
                  
          .inner-text-container
            .center
              = link_to artobject.name, users_artobject_path(artobject), class: "name" 
              %p.timestamp= date_maker(artobject)

          .bottom-link-box
            %a.flip_back.button More details
            %i.fa.fa-caret-down
            
        .image-container
          =image_tag artobject.image_url(:index).to_s, class: "artobject_image"
      .face.back
        .top-link-box
          %a.flip_back.button.flip_front Return to front
          %i.fa.fa-caret-up
        .tag-container
  
          .inner-tag-container.tab-content


            .tags
              - artobject.creator_list.each do |t|
                = link_to t, artobjects_path(params.merge(:tags =>  t)), class: "creator-list-tag"
              -artobject.society_list.each do |t|
                =link_to t, artobjects_path(params.merge(:tags => t)), class: "society-list-tag"
              - artobject.language_list.each do |t|
                =link_to t, artobjects_path(params.merge(:tags => t)), class: "language-list-tag"
              - artobject.location_list.each do |t|
                = link_to t, artobjects_path(params.merge(:tags => t)), class: "location-list-tag"
              - artobject.medium_list.each do |t|
                = link_to t, artobjects_path(params.merge(:tags => t)), class: "media-list-tag"

        .empty-container
          .to-front
            - if signed_in?
              - if current_user.admin? or current_user == artobject.user
                .circle-element.done
                  = link_to "Edit", edit_artobject_path(id:artobject), class: "circleb"      
              - if current_user.admin?
                .circle-element.delete
                  = link_to "Delete", artobject, method: :delete, data: { confirm: "You sure?" }, title: artobject.name, class: "circleb"    

        