- provide(:title, "All works")

.row
  %aside.span8.offset2
    .search-box
      %h1 Find and browse works
      = form_for :artobject, :url => { :action => "index" }, html: { method: :get } do |f|
        .input-append
          = text_field_tag :tags, @tags ? @tags : nil, placeholder: "Add tags separated by comma"
          = f.submit "Submit", class: "add-on"
          = link_to "Reset", artobjects_path, class: "add-on"

.row
  .span12.top-bar
    #count
      %h2 Displaying #{ @artobjects.count } works
    = will_paginate

.row
  .span12
    - if signed_in?
      - flash.each do |key, value|
        .alert{ class: "alert-#{ key }" }
          = value
      = render 'shared/error_messages', object: @artobject

.row
  %ol.tile-container#artobject_container
    - if signed_in?
      = render 'artobject_form'
    - else
      %li.span4
        .artobject.flip 
          .card 
            .face.front
              .text-container
                .inner-text-container
                  .center
                    %h2 #{link_to "Sign up", signup_path} or #{link_to "Log in", signin_path}
                    %p Add your favorite works now
                  
              .image-container
    = render @artobjects
.row
  .span12
    = will_paginate