- provide(:title, "All works")

.row
  %aside.span6
    
    - if !signed_in?
      %h1 #{link_to "Sign in", signin_path} or #{link_to "Sign up", signup_path} to add an art object.
  %aside.span6
    %h1 Filter works
    = form_for :artobject, :url => { :action => "index" }, html: { method: :get } do |f|
      = text_field_tag :tags, @tags ? @tags : nil, placeholder: "Add tags separated by comma"
      =f.submit "Filter", class: "btn btn-large btn-primary"
      =link_to "Reset", artobjects_path, class: "btn btn-large btn-primary"

.row
  .span12.top-bar
    %h2{id:"count"} Works (#{ @artobjects.count })
    = will_paginate
.row
  %ol.tile-container#artobject_container
    - if signed_in?
      = render 'artobject_form'
    = render @artobjects

  = will_paginate