<div class="top-bar">
  <div class="container">
    <div class="row">
      <aside class="span8 offset2">
      	<h1>{{title}}</h1>
      </aside>
    </div>
    <div class="row show-form">
      <section class="span4">
        <div class="image-container">
          <img {{bind-attr src=cover.url image=cover.caption}} class="artobject_image" />
        </div>
        <p class="timestamp">{{cover.caption}}</p>
      </section>
      <section class="span8">
      	<p>{{introductionContent}}</p>
      </section>
    </div>
  </div>
</div>

<div class="bottom-bar">
  <div class="container">
    <div class="row">
    	{{view PageOne.CollectionItemsView content=items}}
    </div>
  </div>
</div>